* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background: none;
    border: none;
}

ul {
    list-style: none;
}