:root {
    --color-primary: #080808;
    --color-secondary: #fff;
    --text-color: var(--color-secondary);
    --text-secondary: #999;
    --bg-color: var(--color-primary);
    --bg-secondary: #202020;
    --accent-color: #c521c5;
}